:root {
  --gray: #bec2c6;
  --white: #fbfbfb;
  --yellow: #fae800;
  --background: #1f2229;
  --background2: #2e303c;
  --background-button: #373945;
  --background-button2: #4b4d59;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea {
  color: var(--white);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  font: 1rem "Poppins", Arial, sans-serif;
}

body .wrapper {
  display: flex;
}

@media (max-width: 888px) {
  html {
    font-size: 87.5%;
  }

  body .wrapper {
    display: block;
  }
}
