.movie-card {
  display: flex;
  justify-content: center;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  > div {
    display: flex;
    position: absolute;
    background: rgba(15, 15, 15, 0.5);
    justify-content: center;
    inset: 0;

    .movie-info {
      width: 100%;
      max-width: 12.31rem;

      display: flex;
      padding: 0 0.5rem;
      flex-direction: column;

      > span {
        font-size: 1rem;
        font-weight: 600;
        color: var(--white);

        margin-top: auto;
        margin-bottom: 0.5rem;

        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }

      .meta {
        display: flex;
        margin-bottom: 1rem;
        justify-content: space-between;
        flex-direction: row;

        div {
          display: flex;
          align-items: center;

          font-weight: 600;
          color: var(--gray);

          svg {
            color: var(--yellow);
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1198px) {
  .movie-card {
    width: 50%;
    padding: 8px;

    &:nth-child(1),
    &:nth-child(2) {
      margin-top: -0.5rem;
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: -0.5rem;
    }

    img {
      width: 100%;
      height: auto;
    }

    > div {
      inset: 0.5rem;
    }
  }
}
